<?xml version="1.0" encoding="utf-8"?>
<packages>
  {{#useCompareNetObjects}}
  <package id="CompareNETObjects" version="4.78.0" targetFramework="{{targetFrameworkNuget}}" developmentDependency="true" />
  {{/useCompareNetObjects}}
  <package id="RestSharp" version="106.6.7" targetFramework="net6.0" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="{{targetFrameworkNuget}}" developmentDependency="true" />
  <package id="JsonSubTypes" version="1.5.1" targetFramework="{{targetFrameworkNuget}}" developmentDependency="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="{{targetFrameworkNuget}}" developmentDependency="true" />
</packages>
